body {
    background: #090c0e !important;
    color: white !important;
}

.nav-item:not(.active) > a {
    color: white !important;
}

.nav-item.active > a {
    color: #435aff !important;
}

.navbar-toggler {
    background: #e7e7e7 !important;
}

p, li, .nav-link, pre code {
    color: #c5c9cc !important;
}

pre.dark-code-block {
    box-shadow: none;
}

.wlf-footer,
.navbar {
    background-color: #060606 !important;
}

.navbar {
    border-bottom: 1px #060606 solid !important;
}

.wlf-card {
    color: #e0e0e0;
    box-shadow: 0px 3px 10px 0px #000000;
}

/* DOCUMENTATION */

.documentation-sidebar > a.active-page {
    color: #ffffff !important;
}

.documentation-sidebar > a {
    color: #9c9c9c !important;
}

code[class*="language-"],
pre[class*="language-"] {
    background: #1e1e1e;
    color: white !important;
}

code.language-php,
code.language-php .token.constant {
    color: white !important;
}

code.language-php .token.operator {
    color: #cccccc;
}

code.language-php .token.number {
    color: #b5cea8;
}

code.language-php .token.keyword {
    color: #569cd6;
}

code.language-php .token.punctuation {
    color: white;
}

code.language-php .token.class-name {
    color: #4ec9b0;
}

code.language-php .token.function {
    color: #e6e6b3;
}

code.language-php .token.string {
    color: #ce9178;
}

code.language-php .token.variable {
    color: #9cdcfe;
}

code.language-php .token.comment {
    color: #6a9955;
}

code.language-php .token.boolean {
    color: #569cd6 !important;
}

p > code {
    color: #ff6db0;
}
