* {
    --card-margin: 15px;
}

body {
    font-family: 'calibre' !important;
    font-size: 18px !important;
    background-color: #fbfbfb !important;
}

@font-face {
    font-family: "calibre-light";
    src: url('../../fonts/CalibreLight.otf');
}

@font-face {
    font-family: "calibre";
    src: url('../../fonts/CalibreRegular.otf');
}

@font-face {
    font-family: "calibre-bold";
    src: url('../../fonts/CalibreBold.otf');
}

h1 {
    font-size: 58px !important;
}

h2 {
    font-size: 40px !important;
}

h3 {
    font-size: 32px !important;
}

h4 {
    font-size: 28px !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'calibre' !important;
    line-height: 1.4 !important;
}

p, li, .nav-link {
    color: #292c2d;
}

.toggle-dark-btn {
    display: flex;
    align-items: center;
}
.toggle-dark-btn:hover {
    cursor: pointer;
}

.toggle-dark-btn > a > img {
    height: 30px;
}

table, td, tr, th {
    padding: 6px 12px;
    border: 1px #c1c1c1 solid;
}

.navbar {
    padding: 10px 150px !important;
}

.active > a {
    color: #3205d6 !important;
}

.show-sm {
    display: none;
}

.hide-sm {
    display: inline-block;
}

.wlf-container {
    padding: 100px 0px;
}

.wlf-container > div {
    margin: 0 auto;
    max-width: 1500px;
    padding-left: 150px;
    padding-right: 150px;
}

.wlf-container > *:not(:last-child) {
    margin-bottom: 70px
}

pre.dark-code-block {
    display: inline-flex;
    align-items: center;
    background-color: #1e1e1e;
    color: white;
    padding: 16px;
    border-radius: 10px;
    overflow: auto;
    font-family: Consolas, monaco, monospace;
    box-shadow: 0px 6px 10px rgba(2,8,20,.1),
                0 0 16px rgba(2,8,20,.08);
    margin-bottom: 0px;
    font-size: 13px;
    line-height: 19px;
}

pre[class*="language-"] {
    background-color: white;
    margin-bottom: 1em;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,.13);
}

.language-php {
    font-size: 14px !important;
}

.code-path {
    flex-direction: column;
}

.code-path > div:first-child {
    width: 100%;
    color: #c1c1c1;
    margin-bottom: 10px;
}

.code-path > div > a {
    color: #c1c1c1;
}

.code-path > div {
    width: 100%;
    flex-direction: row;
    display: flex;
}

.code-small {
    font-size: 11px;
    max-width: 100%;
}

.line-code {
    display: inline-block !important;
    padding: 6px 14px !important;
    margin: 20px !important;
    border-radius: 6px !important;
    box-shadow: none !important;
}

.code-block-lines {
    color: #858585;
    text-align: right;
    margin-right: 18px;
}

.code-reserved {
    color: #569cd6;
}

.code-class {
    color: #4ec9b0;
}

.code-variable {
    color: #9cdcfe;
}

.code-method {
    color: #e6e6b3;
}

.code-text {
    color: #ce9178;
}

.code-word {
    color: #c586c0;
}

.code-extra {
    color: #808080;
}

.navbar-brand > img {
    height: 40px;
}

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
}

.wlf-footer {
    display: flex;
    flex-direction: row;
    bottom: 0px;
    background-color: #12171b !important;
    padding: 40px 100px;
    color: white;
    justify-content: space-evenly;
}

.wlf-footer > div {
    max-width: 250px;
}

.wlf-footer > div:first-of-type > img {
    margin-bottom: 20px;
}

.wlf-footer > div > li {
    font-size: 16px !important;
    list-style-type: none;
    margin-bottom: 6px;
}

.wlf-footer a,
.wlf-footer p {
    color: #a0a3a4;
}

.active-page {
    color: #424242 !important;
    font-weight: 700 !important;
    text-decoration: underline;
}

.made-with {
    opacity: 0.6;
    font-size: 0.8em;
}

/* ---> 404 <--- */

.container-404 {
    display: flex;
    align-items: center;
}

.container-404 > img {
    width: 300px;
    margin-right: 40px;
}

.container-404 > div > h2 {
    margin-bottom: 20px;
}

.container-404 > div > h5 {
    margin: 0px;
}

.wlf-card {
    display: flex;
    color: #282e35;
    margin: var(--card-margin);
    box-shadow: 0px 3px 10px 0px #d0d0d0;
    border-radius: 7px;
    position: relative;
}

/* ---> HOME <--- */


.home-start {
    display: flex;
    justify-content: space-between;
}

.home-start > div {
    width: 50%;
    width: inherit;
    display: flex;
    align-items: flex-start;
}

.home-start > div:last-of-type {
    flex-direction: column;
}

.home-start > div:last-of-type > a {
    font-size: 0.9em;
    margin-top: 14px;
}

.home-start > div:last-of-type > a > img {
    margin-right: 8px;
}

.home-start-left {
    display: flex;
    margin: auto 0;
    margin-right: 40px;
    align-items: left;
    flex-direction: column;
}

.home-start-left > div > h1 {
    font-size: 64px !important;
    height: 70px;
    font-family: 'calibre-light' !important;
    margin: 0px;
}

.home-start-left > div:first-of-type {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.home-start-left > div > svg {
    height: 100px;
    margin-right: 20px;
}

.home-start-left > div > img {
    margin-right: 20px;
}

.home-start-titles > h4 {
    margin-bottom: 20px;
}

.home-start-download {
    display: inline-flex;
    align-items: center;
    text-decoration: none !important;
}

.home-start-download > button {
    background-color: #473aff;
    color: white;
    border: 0px;
    border-radius: 40px;
    padding: 9px 16px 5px 16px;
    transition: background-color 0.2s ease-out;
    -webkit-transition: background-color 0.2s ease-out;
}

.home-start-download > button:hover {
    background-color: #6260ff;
}

.home-next,
.home-description {
    text-align: center;
}

.home-code-example {
    min-width: 420px;
}

@media screen and (min-width: 800px) {
    .home-description > h3 {
        width: 90%;
        margin: 0 auto;
    }
}

.new-version {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-version > :last-child {
    opacity: 0.6;
}

.new-version > * {
    margin: 0px;
}

.new-version > img {
    width: 400px;
    max-width: 100%;
    margin-bottom: 30px;
}

.covid-19 {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

.home-features-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home-features-cards > div {
    width: calc(50% - (var(--card-margin) * 2));
    text-align: justify;
    margin: var(--card-margin);
    align-items: center;
    padding: 26px;
}

.home-features-cards > div > img,
.home-features-cards > div > svg {
    width: 60px;
    margin-right: 30px;
}

.home-build {
    display: flex;
    position: relative;
    color: white;
    max-width: inherit !important;
    overflow: hidden;
}
.home-build:before {
    content: '';
    background: rgb(10,0,154);
    background: linear-gradient(45deg, rgba(10,0,154,1) 0%, rgba(117,9,131,1) 50%, rgb(238, 0, 131) 100%);
    z-index: -1;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.home-build-content {
    display: flex;
    width: 100%;
    padding: 70px 0px;
}

.home-build-content > div {
    width: 50%;
}

.build-description > * {
    max-width: 90%;
}

.build-description > h2 {
    margin-bottom: 30px;
}

.build-description > h2 > b {
    color: #ce9cff;
}

.build-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.build-img > svg:first-of-type {
    margin-right: 20px;
}

.home-go {
    text-align: center;
}

.home-go > h2 {
    text-align: center;
    margin-bottom: 40px;
}

.home-elements > h2,
.home-elements > h3 {
    text-align: center;
    margin-bottom: 40px;
}

.home-elements-cards,
.home-features-cards {
    margin: calc(-1 * var(--card-margin));
}

.home-elements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.home-elements-cards > a {
    flex-direction: column;
    justify-content: center;
    width: 224px;
    text-align: center;
    align-items: center;
    padding: 20px;
    height: 140px;
}
.home-elements-cards > a:hover {
    transition: all ease-out 0.3s;
    text-decoration: none;
    color: #228be6;
}

.home-elements-cards > a > img {
    margin-bottom: 12px;
}

.home-elements-cards > a > span {
    font-size: 24px;
    line-height: 1em !important;
    margin: 0px;
}


.home-security {
    display: flex;
}

.home-security > div:first-of-type {
    margin-right: 50px;
    padding-right: 50px;
    border-right: 1px #c1c1c1 solid;
    width: calc(50% + 50px);
    text-align: right;
}

.home-security > div {
    width: 50%;
    padding: 20px 0px;
}

.home-security > div:first-of-type > p {
    margin-left: auto;
}

.home-security > div > p {
    max-width: 490px;
    margin-bottom: 0px;
}

.multiple-commands {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-top: 20px;
}

.multiple-commands > a {
    line-height: 1em;
}

.multiple-commands > * {
    margin: 0px !important;
}

.multiple-commands > *:not(:last-child) {
    margin-bottom: 16px !important;
}

#composer-command:hover {
    cursor: pointer;
}

.home-cli {
    display: flex;
    justify-content: space-between;
}

.home-cli > div {
    width: 50%;
}

.home-cli > div:last-child {
    max-width: 450px;
}

.home-cli > div > p:first-of-type {
    opacity: 0.6;
}

.home-cli > div:first-child {
    margin-right: 80px;
}


/* ---> CONSOLE <--- */


.console {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px 3px #eaeaea,
                0px 0px 15px 3px #eaeaea;
    border-radius: 8px;
    overflow: hidden;
    font-size: 13px;
}

.console-header {
    background-color: #373b40;
    width: 100%;
    border-color: #181a1b;
    border-style: solid;
    border-width: 1px;
}

.console-btn {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: 7px;
    margin-left: 10px;
    border-radius: 50px;
}

.c-red {
    background: #f25056;
}

.c-yellow {
    background: #fac536;
}

.c-green {
    background: #39ea49;
}

.console-content {
    background-color: #232b2f;
    color: white;
    font-family: Consolas, monaco, monospace;
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-color: #181a1b;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
}

.console-cmd {
    color: #9db0b3;
}

.console-input {
    color: #a2ba00;
    margin-right: 10px;
    font-weight: 600 !important;
    font-size: 15px !important;
}


/* ---> DOWNLOAD <--- */


.download-start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-start > div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}

.download-btn {
    margin: 20px 0px;
    border: none;
    color: white;
    background-color: #28a745;
    padding: 4px 10px;
    border-radius: 7px;
    height: 30px;
}
.download-btn:hover {
    cursor: pointer;
    background-color: #23953d;
}

.download-option {
    width: 50%;
}

.download-option > img {
    height: 180px;
}

.download-option > pre {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.download-option > pre:hover {
    cursor: pointer;
}


/* ---> STARTING <--- */


.starting-start {
    text-align: center;
}

.starting-start > h4 {
    margin-bottom: 40px;
}

.starting-tutorial {
    display: flex;
    flex-direction: column;
}

.starting-tutorial > h2 {
    text-align: center;
    margin-bottom: 40px;
}

.starting-tutorial > div {
    display: flex;
    justify-content: space-between;
}

.starting-tutorial > div > div {
    max-width: 100%;
    min-width: 32%;
}

.starting-tutorial > div > div > p {
    margin-top: 10px;
    text-align: center;
}

.starting-tutorial > div > div > pre {
    width: 100%;
    font-size: 11px;
}

.starting-tutorial > div > div > p > span {
    display: block;
    color: #c1c1c1;
}

.starting-features {
    display: flex;
}

.starting-features > div:first-child {
    width: 60%;
    margin-right: 50px;
}

.starting-features > div:last-child {
    width: 40%;
    max-width: 500px;
}

.starting-features > div > h2 {
    margin-bottom: 20px;
}

.starting-features > div > ul > li:not(:last-child) {
    margin-bottom: 10px;
}

.releases > div:not(:last-of-type) {
    border-bottom: 1px #c1c1c1 solid;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.releases > div > h3 {
    margin: 0px;
}

.releases > div > span {
    display: block;
    margin: 4px 0px !important;
    opacity: 0.6;
}

.releases > div > span > li {
    margin-right: 8px;
}


/* ---> DOCUMENTATION <--- */


.documentation-container {
    display: flex;
    flex-direction: row;
}

.documentation-sidebar {
    min-width: 210px;
    display: flex;
    flex-direction: column;
}

.documentation-sidebar > h3:not(:first-child) {
    margin: 10px 0px;
}

.documentation-sidebar > a {
    color: #656565;
    margin: 4px 0px 4px 20px;
    transition: ease-out 0.2s;
    position: relative;
    left: 0px;
}

.documentation-sidebar > a:hover {
    left: 8px;
    text-decoration: none;
}

pre.prettyprint {
    padding: 8px !important;
    background: #f5f2f0 !important;
    border: none;
    border-radius: 8px;
}

.documentation-body {
    width: 100%;
}

.documentation-body > p {
    line-height: 1.7;
}

.documentation-body > h1 {
    color: #c1c1c1;
}

.documentation-body > h2,
.documentation-body > h3,
.documentation-body > h4 {
    font-family: 'calibre' !important;
}

.documentation-contribute {
    border-top: 1px solid #c1c1c1;
    padding-top: 30px;
    margin-top: 40px;
}

.documentation-contribute > span {
    opacity: 0.6;
}


/* ---> CHANGELOG <--- */


.changelog-home {
    text-align: center;
}

.changelog-home > img {
    max-width: 300px;
    margin-bottom: 40px;
}

.changelog-home > h4 {
    max-width: 650px;
    margin: 0 auto;
}

.changelog-list > div {
    margin-left: 20px;
    margin-top: 20px;
}

.changelog-list > div:not(:last-of-type) {
    margin-bottom: 20px;
}

.changelog-list > div > li:not(:last-of-type) {
    margin: 10px 0px;
}

/* ---> RESPONSIVE <--- */


@media screen and (min-width: 1500px) {
    .starting-tutorial > div {
        justify-content: space-around;
    }

    .home-build-content {
        margin: 0 auto;
        padding-left: 150px;
        padding-right: 150px;
        max-width: 1500px;
    }

    .home-build {
        padding: 0px !important;
    }
}

@media screen and (min-width: 992px) {
    .toggle-dark-btn > a > img {
        margin-left: 10px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1500px) {
    .home-start-titles > h2 {
        max-width: 450px;
    }
}

@media screen and (max-width: 1250px) {
    .code-small {
        font-size: 13px;
    }
}

@media screen and (max-width: 1200px) {
    .starting-tutorial > div {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .starting-tutorial > div > div:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .wlf-container > div {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 992px) {
    .toggle-dark-btn {
        margin-top: 10px;
    }

    .wlf-container > div {
        padding-left: 60px;
        padding-right: 60px;
    }

    pre {
        font-size: 12px !important;
    }

    .navbar {
        padding: 10px 60px !important;
    }

    .wlf-container > *:not(:last-child) {
        margin-bottom: 60px;
    }

    .home-start {
        flex-direction: column;
    }

    .home-start > div {
        width: 100% !important;
        justify-content: center;
    }

    .home-start > div:last-of-type {
        align-items: center;
    }

    .home-start-left {
        text-align: center;
        margin-bottom: 40px;
    }

    .home-start-left > div {
        margin: 0 auto;
    }

    .home-code-example {
        min-width: 350px;
    }

    .home-build-content {
        flex-direction: column;
    }

    .home-build-content > div {
        width: 100%;
    }

    .build-description {
        margin-bottom: 30px;
    }

    .build-description > * {
        max-width: 100%;
    }
}

@media screen and (max-width: 920px) {
    .show-sm {
        display: inline-block;
    }

    .hide-sm {
        display: none;
    }

    .home-cli {
        flex-direction: column !important;
    }

    .home-cli > div {
        width: 100%;
        margin-right: 0px !important;
    }

    .home-cli > div:first-child {
        text-align: center;
        margin-bottom: 40px;
    }

    .home-cli > div:last-child {
        display: flex;
        width: 100% !important;
        justify-content: center;
        max-width: inherit;
    }

    .home-go > h2,
    .home-go > h3,
    .home-elements > h2,
    .home-elements > h3 {
        text-align: left !important;
    }

    .home-security {
        flex-direction: column;
    }

    .home-security > div {
        width: inherit !important;
        text-align: left !important;
        margin: 0px !important;
        padding: 0px !important;
        border: none !important;
    }

    .home-security > div:last-of-type {
        margin-top: 60px !important;
    }

    .home-security > div > p {
        margin: auto !important;
        max-width: inherit !important;
    }

    .console {
        display: inline-flex;
    }

    .documentation-container {
        flex-direction: column;
    }

    .documentation-sidebar {
        height: 300px;
        overflow: auto;
        border-bottom: 1px #c1c1c1 solid;
        margin-bottom: 20px;
    }

    .starting-features {
        flex-direction: column;
    }

    .starting-features > div {
        width: 100% !important;
        max-width: inherit !important;
        margin-right: 0px !important;
    }

    .starting-features > div:not(:first-child) > h2 {
        margin-top: 20px;
    }

    .wlf-footer {
        flex-direction: column;
        padding: 50px 20px;
    }

    .wlf-footer > div:not(:last-of-type) {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 800px) {
    * {
        --card-margin: 10px;
    }

    .wlf-container {
        padding: 50px 0px !important;
    }

    h1 {
        font-size: 50px !important;
    }

    h2 {
        font-size: 34px !important;
    }

    h3 {
        font-size: 28px !important;
    }

    h4 {
        font-size: 24px !important;
    }

    .wlf-container > div {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .navbar {
        padding: 10px 20px !important;
    }

    .container-404 {
        flex-direction: column;
        text-align: center;
    }

    .container-404 > img {
        width: 200px;
        margin: 0px 0px 40px 0px;
    }

    .wlf-container > *:not(:last-child) {
        margin-bottom: 50px;
    }

    .home-features-cards > div {
        width: calc(100% - (var(--card-margin) * 2));
    }

    .home-security > div:last-of-type {
        margin-top: 50px !important;
    }

    .home-go > h2,
    .home-elements > h2,
    .home-elements > h3 {
        margin-bottom: .5em;
    }

    .home-elements-cards > a {
        width: 150px;
        padding: 12px;
    }

    .changelog-home > img {
        max-width: 200px;
    }

    .download-start > div {
        flex-direction: column;
    }

    .download-option {
        width: 100%;
    }

    .line-code {
        max-width: 100% !important;
        margin: 20px 0px !important;
    }
}

@media screen and (max-width: 500px) {
    .home-code-example {
        min-width: inherit;
    }
}

/* ---> FIXES <--- */

.navbar.shadow {
    box-shadow: none !important;
    border-bottom: 1px #e7e7e7 solid;
}
